# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [2]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [58]:
# I see dragon sometimes as Type 1, sometimes as type 2. Here we account for dragon EITHER in type 1 OR in type 2.
### Two Sample T-test
df_dragon = df[(df["Type 1"] == "Dragon") | (df["Type 2"] == "Dragon")]["HP"]
df_grass = df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")]["HP"]

In [60]:
#Set the hypothesis

#H0: mu_hp dragon = mu_hp grass
#H1: mu_hp dragon != mu_hp grass

#significance level = 0.05

In [62]:
st.ttest_ind(df_dragon,df_grass, equal_var=False)

TtestResult(statistic=4.097528915272702, pvalue=0.00010181538122353851, df=77.58086781513519)

In [64]:
# Because p_value is lower than significance level, we reject the null hypothesis, this means that:
# HP values, on average, of dragon and grass pokemons, are indeed diferent. This is regardless of whether dragon or grass are in type 1 or type 2.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [82]:
df.dtypes

Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [84]:
print(df.isnull().any())

Name           True
Type 1        False
Type 2         True
HP            False
Attack        False
Defense       False
Sp. Atk       False
Sp. Def       False
Speed         False
Generation    False
Legendary     False
dtype: bool

In [86]:
# Column Legendary is boolean and contains no null values.

In [118]:
# Column: Legendary, values: True / False
# Two Sample T-test
# Here I used 1 for true and 0 for false, and removed quotation marks.
df_legendary_true = df[df["Legendary"]==1]["HP"]
df_legendary_false = df[df["Legendary"]==0]["HP"]

In [120]:
#Set the hypothesis

#H0: mu_hp legendary_true = mu_hp legendary_false
#H1: mu_hp legendary_true != mu_hp legendary_false

#significance level = 0.05

In [134]:
st.ttest_ind(df_legendary_true,df_legendary_false, equal_var=False)

TtestResult(statistic=8.981370483625046, pvalue=1.0026911708035284e-13, df=79.52467830799894)

In [162]:
# For loop for every stat column
stats = ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]
for x in stats:
    legendary_true = df[df["Legendary"] == 1][x]
    legendary_false = df[df["Legendary"] == 0][x]

    print(x)
    print(t_stat)
    print(p_value)

HP
11.47504444631443
1.049016311882451e-18
Attack
11.47504444631443
1.049016311882451e-18
Defense
11.47504444631443
1.049016311882451e-18
Sp. Atk
11.47504444631443
1.049016311882451e-18
Sp. Def
11.47504444631443
1.049016311882451e-18
Speed
11.47504444631443
1.049016311882451e-18

In [166]:
# We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary.

# Conclusion:
# For every stat, the p_value is 1.05. This is lower than the significance level of 0.05, which means that we DO reject the null hypothesis. 
# Legendary and non-legendary pokemons DON'T have different stats, they have similar stats.

In [152]:
x

'Speed'

In [142]:
t_stat

11.47504444631443

In [144]:
p_value

1.049016311882451e-18

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [170]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 34)
- Hospital coordinates (-122, 37)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [168]:
# Use df.apply

In [172]:
# def calculate_euclidian_distance

# 1 function for distance to school and a second function for distance to hospital?